<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <title>Business | Town, AB</title>
</head>
<body>
    <div class="navBar">
        <ul>
            <li><img src="../images/Logo2.png"></li>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Other</a></li>
        </ul>
    </div>

    <div class="landing">
        <div class="header"></div>

        <div class="wrapper">
            <div class="mainContent">
                <h1>PHYSIOTHERAPY BUSINESS</h1>
                <p>Acupuncture, Manual therapy, IMS, Electrotherapy, Massage Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque adipisci quam est non fugit nemo, tempore atque recusandae sit dolor!</p>
                <button>CONTACT US</button>
            </div>
        </div>
      
        <div class="darkCover">
            <div class="darken"></div>
        </div>

        
    </div>
    <div class="nextDiv">

    </div>
</body>
</html>