<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../styles/style.css">

    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@400;600;700&family=Roboto&display=swap" rel="stylesheet">
    <!--fa icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

    <title>Business | Town, AB</title>
</head>
<body>
    <div class="navBar">
        <img src="../images/Logo2.png">
        <ul class="navigation">
           
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Other</a></li>
        </ul>
        <div class="socials">
            <ul class="socialList">
                <li><a href="facebook.com" class="fa fa-instagram"></a></li>
                <li><a href="facebook.com" class="fa fa-twitter"></a></li>
                <li><a href="facebook.com" class="fa fa-facebook"></a></li>
               <li><a href="facebook.com" class="fa fa-linkedin"></a></li>
            </ul>
        </div>
    </div>

    <div class="landing">
        <div class="header"></div>

        <div class="wrapper">
            <div class="mainContent">
                <h1>Physiotherapy Business</h1>
                <p>Acupuncture, Manual therapy, IMS, Electrotherapy, Massage</p>
                <button>Contact Us</button>
            </div>
        </div>
      
        <div class="darkCover">
            <div class="darken"></div>
        </div>

        
    </div>
        <div class="services">
            <div class="header">
               <div class=title><h1 class="firstWord">WHAT&nbsp;</h1><h1> WE PROVIDE</h1></div>
               <div class="dottedBorder"></div>
               <div class=titleIcon><div class="fa fa-medkit"></div></div>
            </div>
            <div class=wrapper>
                <div class=overview><p>Overview of the main service that the business provides, Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error dolores eligendi placeat voluptas neque tempora beatae sapiente, vero doloribus officia perspiciatis animi mollitia consectetur omnis ab molestiae distinctio molestias explicabo.</p></div>
            </div>
        <div class=wrapper>
            <div class="content">
                <div class="section">
                    <div class="sectionTitle">
                        <div class="fa fa-cogs"></div>
                        <h2>Manual Therapy</h2>
                    </div>
                    <div class="sectionDescription">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam placeat, facilis voluptatibus error ut dolor et temporibus enim rem repudiandae. Quo natus delectus odit aut fugit placeat, porro dolorum maxime.</p>
                    </div>
                </div>
                <div class="section">
                    <div class="sectionTitle">
                        <div class="fa fa-bed"></div>
                        <h2>Acupuncture</h2>
                    </div>
                    <div class="sectionDescription">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam placeat, facilis voluptatibus error ut dolor et temporibus enim rem repudiandae. Quo natus delectus odit aut fugit placeat, porro dolorum maxime.</p>
                    </div>
                </div>
                <div class="section">
                    <div class="sectionTitle">
                        <div class="fa fa-hand-paper-o"></div>
                        <h2>Massage</h2>
                    </div>
                    <div class="sectionDescription">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam placeat, facilis voluptatibus error ut dolor et temporibus enim rem repudiandae. Quo natus delectus odit aut fugit placeat, porro dolorum maxime.</p>
                    </div>
                </div>
                <div class="section">
                    <div class="sectionTitle">
                        <div class="fa fa-bolt"></div>
                        <h2>Electrotherapy</h2>
                    </div>
                    <div class="sectionDescription">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam placeat, facilis voluptatibus error ut dolor et temporibus enim rem repudiandae. Quo natus delectus odit aut fugit placeat, porro dolorum maxime.</p>
                    </div>
                </div>
            </div>
        </div> 
   

        <div class="meetTheTeam">
            <div class="wrapper">
                <div class="members">
                    <div class="memberCard">
                        <div class="memberImg">
                            <img src="../images/person.jpg" alt="portrait">
                        </div>
                        
                        <div class="memberContent">
                            <p class="memberRole">ROLE IN BUSINESS</p>
                            <p class="memberName">Bobby Newport</p>
                            <p class="memberDescription">Lorem ipsum dolor sit amet at adipisicing elit. Similique quia necessitatibus minus quo quas quisquam illo molestiae in, incidunt ipsa?</p>
                            <div class="memberSocials">
                                <div class="social"><div class="fa fa-facebook"></div></div>
                                <div class="social"><div class="fa fa-twitter"></div></div>
                                <div class="social"><div class="fa fa-instagram"></div></div>
                            </div>
                        </div>
                       
                    </div>

                    <div class="memberCard">
                        <div class="memberImg">
                            <img src="../images/person.jpg" alt="portrait">
                        </div>
                        
                        <div class="memberContent">
                            <p class="memberRole">ROLE IN BUSINESS</p>
                            <p class="memberName">Bobby Newport</p>
                            <p class="memberDescription">Lorem ipsum dolor sit amet at adipisicing elit. Similique quia necessitatibus minus quo quas quisquam illo molestiae in, incidunt ipsa?</p>
                            <div class="memberSocials">
                                <div class="social"><div class="fa fa-facebook"></div></div>
                                <div class="social"><div class="fa fa-twitter"></div></div>
                                <div class="social"><div class="fa fa-instagram"></div></div>
                            </div>
                        </div>
                       
                    </div>

                    <div class="memberCard">
                        <div class="memberImg">
                            <img src="../images/person.jpg" alt="portrait">
                        </div>
                        
                        <div class="memberContent">
                            <p class="memberRole">ROLE IN BUSINESS</p>
                            <p class="memberName">Bobby Newport</p>
                            <p class="memberDescription">Lorem ipsum dolor sit amet at adipisicing elit. Similique quia necessitatibus minus quo quas quisquam illo molestiae in, incidunt ipsa?</p>
                            <div class="memberSocials">
                                <div class="social"><div class="fa fa-facebook"></div></div>
                                <div class="social"><div class="fa fa-twitter"></div></div>
                                <div class="social"><div class="fa fa-instagram"></div></div>
                            </div>
                        </div>
                       
                    </div>

                    <div class="memberCard">
                        <div class="memberImg">
                            <img src="../images/person.jpg" alt="portrait">
                        </div>
                        
                        <div class="memberContent">
                            <p class="memberRole">ROLE IN BUSINESS</p>
                            <p class="memberName">Bobby Newport</p>
                            <p class="memberDescription">Lorem ipsum dolor sit amet at adipisicing elit. Similique quia necessitatibus minus quo quas quisquam illo molestiae in, incidunt ipsa?</p>
                            <div class="memberSocials">
                                <div class="social"><div class="fa fa-facebook"></div></div>
                                <div class="social"><div class="fa fa-twitter"></div></div>
                                <div class="social"><div class="fa fa-instagram"></div></div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>


        </div>
</body>
</html>