.meetTheTeam{
    margin-top: 30px;
    .members{
        max-width: 1500px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .memberCard{
            width: 280px;
            height: 450px;
            background-color: #FAFAFA;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 20px;
            margin: 15px 15px;
       
            .memberImg{
                width: 250px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                border-radius: 20px;
                margin-top: 15px;
                margin-bottom: 5px;
            }
            img{       
                width: auto;
                height: 210px;
            }

            .memberContent{
                width: 250px;
                .memberRole{
                    color: #b3b3b3e4;
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: 1px;
                }
                .memberName{
                    color: $accent;
                    font-weight: 600;
                    font-size: 22px;
                  
                }
                .memberDescription{
                    font-size: 14px;
                    padding: 10px 00px;
                }

                .memberSocials{
                    display: flex;
                    padding-bottom: 10px;
                    .social{
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $accent;
                        margin-right: 10px;
                        border-radius: 50%;
                        
                        .fa{
                            color: #FAFAFA;
                            font-size: 18px;
                        }
                    }
                }
            }
            
        }
    }




}