$primary: #f3f3f3;
$primary: #e4e4e4;
$black: #362C28;
$accent: #FF715B;
$font1: 'Poppins', sans-serif;
$font2:'Roboto', sans-serif;

*{
    padding: 0;
    margin: 0;
    font-family: $font1;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
@import "_navBar.scss";
@import "_landing.scss";
@import "_services.scss";
@import "_meetTheTeam.scss";